#add-domaine{
    display: inline-block;  
    float: right;
    color:white;
}
#gest-domaine , #add-domaine {
    vertical-align: top;
}

#btn{
    height:30px;
}
#form-inscription{
   
}
#form-register{
    padding-top:2%;
}
#password , #email{
    font-size:15px;
    font-weight: bold;
}
/*
Code css pour espace connexiion et inscription 
*/

.text-compte  {
    color:white;
}
#tex-connexion{
color:white;
}